extends index

block append stylesheets
    link(rel='stylesheet' href='/css/password.css')

block append scripts
    script(type='module' src='/js/forgot.js')

block content
    .wrapper
        .logo 
            img(src="/img/logos/logo_icon_transparent-bg.png", alt="logo")
            span &nbsp;&nbsp;UNITED NEST
        h3 Forgot Password
        hr

        form#forgotPassForm
            input#email(type="email",placeholder="Enter your email" , required) 
            button#forgotPassSubmitBtn(type="submit") Send Reset Link
        
        .controls 
            a(href='/login') Back to Login 
            a(href='/signup') Create New Account