extends index

block append stylesheets
    link(rel='stylesheet' href='/css/password.css')

block append scripts
    script(type='module' src='/js/password.js')

block content
    .wrapper
        .logo 
            img(src="/img/logos/logo_icon_transparent-bg.png", alt="logo")
            span &nbsp;&nbsp;UNITED NEST
        h3 Reset Password
        hr

        form#resetPassForm
            input#pass(type="password",placeholder="Password" , required) 
            input#cpass(type="password", placeholder="Confirm Password", required)
            input#token(type="hidden", value=token)
            button#resetPassSubmitBtn(type="submit") Reset
        