extends index

block content
    .container.d-flex.align-items-center.justify-content-center.border.rounded.bg-white.p-4(style='box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;')
        .icon.me-4
            i(class="ph-envelope-simple icon-6")
        .text
            h1.fs-3 The Account verification instructions have been sent to your email. Please verify your account to continue.
    .container.text-center.mt-3
        a.btn.btn-primary.p-3(href='/')
            span.d-flex.justify-content-center.align-items-center
                i(class="ph-arrow-circle-left icon-4 me-2")
                span.fs-4 Back to home page