.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f8f9fa;
    width: 30%;
}

.btn {
    border-color: black !important;
}

.form-control { 
    border-top: black !important;
    border-left: black !important;
    border-right: black !important;
}

.border {
    border-color: black !important;
}

.usersDiv {
    height: 225px;
    overflow: auto;
    padding-right: 5px;
}

.usersDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.usersDiv::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.usersDiv::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122,153,217)),
        color-stop(0.72, rgb(73,125,189)),
        color-stop(0.86, rgb(28,58,148))
    );
}

.checkboxinput {
    visibility: hidden;
}

.checkboxlabel {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}