:root {
    --primary-color: #A060FF;
    --secondary-color: #FFD700;
}

/* for my page */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper{
    width: 100%;
    height: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
}
.wrapper .logo{
    background-color: transparent;
}
.wrapper .logo img{
    width: 50px;
    height:50px;
}

form input{
    display: block;
    margin-bottom: 20px;
    padding: 0px 4px;
    width: 350px;
    padding: 8px;
    border: solid 2px #e4edfb;
    border-radius: 5px;
    outline: none;
}

#forgotPassSubmitBtn, #resetPassSubmitBtn{
    display: block;
    text-align: center;
    padding: 8px 20px;
    width: 100%;
    color: white;
    background: #4968ad;
    border: none;
    background: #1e2c4b;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper .controls{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}
.controls a{
    font-size: 20px;
    margin: 3px 0;
    
}