html, body, main, .card {
    height: 100%;
}

.card {
    width: 75%;
    margin: auto;
    padding: 16px;
    overflow: auto;
}

input {
    border: 1px solid black!important;
}

.btn {
    border: 1px solid black!important;
}

a, a:hover, a:active, a:visited, a:focus {
    color: black;
    text-decoration: none;
}

.profilePhoto {
    border-radius: 50%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.card::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122,153,217)),
        color-stop(0.72, rgb(73,125,189)),
        color-stop(0.86, rgb(28,58,148))
    );
}

.options .dropdown-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.options .dropdown-item:last-child {
    margin-bottom: 0;
}

.options .dropdown-item i {
    margin-right: 10px;
}

.options .dropdown-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.options .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
}

.activeOption {
    background-color: #A060FF;
    color: white;
}

.postHeader {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 1fr;
}

.postHeader, .postBody {
    border-bottom: 2px solid lightgray;
}

.post {
    border: 2px solid lightgray;
    border-radius: 5px;
}

.profilePhoto {
    padding: 10px;
}

.authorDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.postOptions .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper img {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

video {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    border: 5px solid #a060ff;
    border-radius: 10px;
}

#posts-pagination-controls .btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.reactionsOptions .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.reactionsOptions .dropdown-item:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.hashTagLink {
    text-decoration: none;
}

.hashTagLink, .hashTagLink:hover, .hashTagLink:active, .hashTagLink:visited, .hashTagLink:focus {
    color: #0d6efd;
}