.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* #file {
    display: none;
} */


#profile-label{
    max-width:150px;
    max-height:150px;
    border-radius: 50%;
    border: 3px solid #a060ff;
}

#profile-label:hover {
    cursor: pointer;
}

#desc {
    min-height: 100px;
}

#uploadFormSubmitBtn{
    display: block;
    text-align: center;
    padding: 8px 20px;
    width: 350px;
    color: white;
    background: #4968ad;
    border: none;
    background: #1e2c4b;
    cursor: pointer;
    border-radius: 5px;
}