.friend {
    transition: transform .5s;
}
.friend:hover {
    cursor: pointer;
    transform: scale(1.2);
    border: 2px solid black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.videoCallPhoto {
    max-width: 100px !important;
    max-height: 100px !important;
    border-radius: 50%;
}

.videoCallPhoto {
    height: 100px!important;
    width: 100px!important;
}